.video-card {
  width: 350px;
  margin: 3rem 1rem;
  height: 250px;
  position: relative;
}
.video-card:hover {
  color: aquamarine;
  opacity: 0.8;
}
.video-card .creator-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.video-card .video-img {
  width: 350px;
  height: 205px;
  border-radius: 10px;
  cursor: pointer;
}
.video-card .details {
  display: flex;
  align-items: center;
  text-align: left;
}
.video-card .watch-later-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: aliceblue;
  padding: 10px 5px;
  border-radius: 0 10px;
  cursor: pointer;
}
.video-card .watch-later-icon i {
  color: navy;
}
.video-card .watch-later-icon:hover {
  background-color: rgb(178, 236, 255);
}

/* .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.category {
  padding: 1rem;
}

.category img {
  width: 350px;
  border-radius: 10px;
  cursor: pointer;
}
.category h3 {
  cursor: pointer;
}
.category:hover {
  color: aquamarine;
  opacity: 0.8;
} */
