.single-video-page {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: space-evenly;
}
.single-video {
  width: 70%;
  padding: 3rem;
}
.single-video .single-video-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more-videos {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  height: 80vh;
  margin: auto;
  padding: 0.3rem 0 1rem;
  margin: 2rem 0;
  border-radius: 30px;
  margin-right: 2rem;
}
.more-videos::-webkit-scrollbar {
  width: 8px;
}

/* Thumb */
.more-videos::-webkit-scrollbar-thumb {
  /* background-color: #888; */
  background-color: rgb(191, 239, 255);
  border-radius: 2px;
}

/* Handle on hover */
.more-videos::-webkit-scrollbar-thumb:hover {
  background-color: rgb(70, 165, 255);
}
